.imagem-carrossel-um {
  object-fit: cover;
  object-position: 0 80%;
  height: 400px;
}
.imagem-carrossel-dois {
  object-fit: cover;
  object-position: 0 50%;
  height: 400px;
}
h1 {
  font-family: "Pacifico", cursive;
}
.card-largura {
  width: 18rem;
}
.titulo-color {
  color: darkred;
}

.botao-cor-especial {
  background-color: darkred;
  border: none;
  color: white;
}
.botao-cor-especial:hover {
  background-color: rgb(190, 92, 92);
}
.borda-cor-especial {
  border-color: darkred;
}
.card-posicao-imagem {
  object-fit: cover;
  height: 200px;
}
